*{
    padding: 0;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
}

/* Prevents SVG Icons containers from taking up space */
.containSVG{
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block; 
    vertical-align: middle;
    flex-shrink: 0; 
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerContainer{
    display: flex;
    margin: 20px 10%;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 1.25rem;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
}

.searchBarContainer{
    display: flex;
}

#mainSearch{
    appearance: none;
    border: 1px solid black;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 12px 10px;
    font-size: 21px;
}

/* //Tinker */
.searchBar{
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px 15px;
    font-size: 1.5rem;
}

#mainSearchBtn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.searchBtn{
    padding: 0 15px 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}

main{
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif
}

/* Quick Data Component */
#quickRenderContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    background-color: skyblue;
    padding: 10px 20px 0 0;
}
/* 1-of-3 */
#tempContainer{
    display:flex;
    align-items: flex-start;
}
#primaryTemp{
    font-size: 3.1rem;
    padding-right: 15px;
}
#tempButtonsContainer{
    display: flex;
    gap: 3px;
}
.divide{
    font-size: 1.5rem;
    padding-left: 4px;
}
.toggleUnit{
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

#tempContainer button:nth-of-type(2){
}

.toggleUnit:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* 2-of-3 */
#humContainer{
    padding: 0 10px;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    gap: 5px;
}
.metric{
    font-weight: 700;
    font-size: 1rem;
}

/* 3-of-3 */
#locContainer{
    display: flex;
    flex-direction: column;
}
#location{
    font-weight: 700;
    font-size: 1.6rem;
}
#location::first-letter{
    text-transform: capitalize;
}
#location::before{
    content: "●";
    font-size: 1.2rem;
    font-weight: 700;
    color:rgb(214, 139, 1);
    vertical-align: middle;
    margin-right: 8px;
}
#condition{
    font-size: 1.1rem;
}