@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add-button:hover{
    background: rgb(213, 213, 213);
}

html{
    height: 100%;
}

body{
    height: 100%;
    padding: 30px 30px 0 30px;
    background: #6C596E;
}

#app{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 90%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #32021F;
}

#app > *{
    background: #6F7D8C;
    margin: 10px;
}

#form{
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

#form >*{
    padding: 8px;
    font-size: 1.3rem;
    border-radius: 9px;
}

#form > input{
    padding: 7px;
    font-size: 1.4rem;
    min-width: 400px;
}

#form > label{
    font-size: 1.8rem;
}

#projects-container{
    grid-column: 1 / 2
}

#tasks-container{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    overflow-y: auto;
    row-gap: 15px;
}

#task-header{
    /* display: contents */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#task-header, .task{
    display: contents;
}

dialog{
    margin: auto;
    padding: 20px;
    /* min-width: 25%;
    min-height: 45%; */
    border: 6px solid #32021F;
    background: whitesmoke;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-container:not(:has([type = "radio"])){
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
}

.input-container > input:not([type="radio"]), textarea{
    padding: 4px 5px;
}

input[type = "radio"], input[type = "date"]{
    text-align: center;
}

textarea{
    resize: none;
}

#radio-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.radio-option > label, .input-container > label, legend{
    font-size: 1.2rem;
}

#dialog-buttons{
    display: flex;
}

#dialog-buttons > *{
    flex: 1;
    font-size: 1.3rem;
}

#close-task{
    background: rgb(227, 0, 0);
}

#close-task:hover{
    background: rgb(200, 1, 1);
}

.task-buttons{
    display: flex;
    gap: 2px;
}

.task-buttons > * {
    padding: 5px 3px;
    font-size: 1rem;
}

.delete-task{
    background: rgb(227, 0, 0);
}

.delete-task:hover{
    background: rgb(200, 1, 1);
}

#projects-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

#projects-header{
    display: flex;
    margin: 0.8rem 0.2rem;
    gap: 2px;
}

#projects-header > input{
    border-radius: 8px;
    padding: 0 0 0 5px;
    font-size: 1rem;
}

#projects-header > button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 0 2px;
}

#projects-header > button:hover{
    background: rgb(213, 213, 213);
}

#projects-header > button::after{
    content: "+";
    font-style: bold;
    font-size: 1.7rem;
    transform: translateY(-2px);
}

.project{
    font-size: 1.6rem;
    font-family:Arial, Helvetica, sans-serif;
    background: #4a3040;
    padding: 2px 0;
    color: #e8d5c4;
    cursor: pointer;
}

.project:hover{
    background: #3a2030;
    border-left: 4px solid #8b4560;
}

#projects-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
}